/*
sudo sass --watch /Users/tower8/desktop/Parallax/css/master.scss:/Users/tower8/desktop/Parallax/css/master.css
*/
/*Global Styles - Backgrounds*/
.bg-gradient {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.3)); }

.bg-cover {
  background-image: url("../img/bg_cover.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover !important; }

/*Global Styles - Buttons*/
a {
  color: rgba(255, 255, 255, 0.8); }

a:hover {
  color: white; }

.Btn {
  padding: 7px 14px;
  background: #8bbf4f;
  background-color: #7ac445;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7ac445), color-stop(100%, #5eba1c));
  background-image: -webkit-linear-gradient(#7ac445, #5eba1c);
  background-image: linear-gradient(#7ac445, #5eba1c);
  border: 1px solid #50ab0f;
  display: inline-block;
  padding: 1rem 5.5rem;
  text-decoration: none; }

.Btn:hover {
  color: white; }

.rounded {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }

.parallax-background {
  background-color: #0078A0;
  height: 620px;
  background-image: url("../img/bg_cover.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%; }

.intro-text {
  color: #fff;
  text-align: center;
  margin-top: 15%; }
  .intro-text h2, .intro-text p {
    color: white; }
  .intro-text h2 {
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase; }
  .intro-text p {
    font-weight: 300;
    font-size: 30px; }

.parallax-content {
  max-width: 100%;
  position: relative;
  top: 500px;
  background-color: #fff; }

.sleek-header {
  padding: 14px 0;
  z-index: 100;
  background: linear-gradient(black, rgba(0, 0, 0, 0)); }

.top-bar, .top-bar-section, .top-bar-section ul, .top-bar-section li:not(.has-form) a:not(.button) {
  background: transparent; }

.copy-block {
  margin: 14px 0 34px;
  text-align: center; }
  .copy-block img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 14px 0; }

.headline, .supporting-copy {
  text-align: center;
  margin-bottom: 4px; }

.headline {
  font-weight: 300;
  font-size: 50px; }

.supporting-copy {
  font-weight: 400;
  font-size: 20px; }

@media only screen {
  body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    color: #555; }
    body h1, body h2, body h3, body h4, body h5, body h6 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 700; }
    body .benefits, body .testimonials, body .clients, body .call-to-action {
      padding: 80px 0; }
    body .benefits {
      background-color: #f5f5f5; }
      body .benefits .benefit-card {
        min-height: 399px;
        padding: 30px;
        display: inline-block;
        float: left;
        width: 33.3%; }
      body .benefits .inner {
        text-align: center; }
        body .benefits .inner img {
          width: 100%;
          height: auto;
          margin-bottom: 20px; }
        body .benefits .inner h3 {
          font-size: 18px;
          line-height: 25px;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 0; }
        body .benefits .inner .liner-small-center {
          text-align: center;
          margin-bottom: 10px; }
        body .benefits .inner p {
          color: #777;
          font-size: 14px;
          line-height: 21px; }
      body .benefits .dark-card {
        background-color: #1864d7;
        background: linear-gradient(#08439c, #1864d7); }
        body .benefits .dark-card h3 {
          color: white; }
        body .benefits .dark-card p {
          color: rgba(255, 255, 255, 0.7); }
      body .benefits .light-card {
        background-color: #e5e5e5; }
        body .benefits .light-card h3 {
          color: #08439c; }
        body .benefits .light-card p {
          color: rgba(8, 67, 156, 0.8); }
    body .testimonials {
      padding-bottom: 20px;
      background-color: #fff; }
      body .testimonials .testimonial div {
        margin-top: 20px;
        text-align: center; }
      body .testimonials .quote {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px; }
      body .testimonials .client {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px; }
      body .testimonials .company-name {
        font-weight: 700;
        font-size: 12px; }
    body .clients {
      padding: 7px 0;
      background-color: #fff; }
      body .clients .client-block {
        text-align: center;
        border-top: 1px solid #e5e5e5;
        padding: 14px 0; }
    body .call-to-action {
      padding: 300px 0;
      background-color: #fcfcfc;
      border-top: 1px solid #e5e5e5; }
    body footer {
      background-color: #fcfcfc;
      padding: 10px 0 20px;
      text-align: center; }
      body footer p {
        color: #ccc;
        font-size: 12px; } }
/*Small Screens - Maximum Width of 640px*/
/* Defining styles for Medium screens */
/* Medium Screens Minimum Width of 641px*/
/* Medium Screens - Maximum Width of 1024px */
/* Defining styles for Large screens */
/* Large Screens Minimum Width of 1025px */
/* Large Screens - Maximum Width of 1440px */
